div.column p
{
	font-size: 16px;
}

.bs-docs-header, .bs-docs-masthead
{
	background-image: linear-gradient(to bottom,#5A15C0 0,#2D80DF 100%);
}

.btn-wrap div a button
{
	height: 200px;
	width: 85%;
	margin: 15px auto;
}

.btn-wrap div a button i
{
	font-size: 50px;
	padding-bottom: 10px;
	vertical-align: middle;
}

a:hover
{
	text-decoration:none;
}
