body { height: 100%;
	   margin: 0;
	   padding: 0;
}
.bg { height:100%;
      width:100%;
	  z-index:-1;
	  position:absolute;
	  left:0;
	  top:0；
}

.hover{ margin: 0 auto 25px;
	    display: block;
}
