body { background-image:url(../image/background.png);
       background-color:skyblue;
}
@font-face {
    font-family: Baardfaant;
    src:url('../fonts/Baardfaant.otf');
}
@font-face {
    font-family: QS;
    src:url('../fonts/QS.otf');
}
#description {
    background: url(../image/header.jpg);
    background-position-y: 10%;
    background-size: cover;
    height: 650px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
	filter:alpha(opacity=50);  
    -moz-opacity:0.9;  
    -khtml-opacity: 0.9;  
    opacity: 0.9;
}

#site-header {
    position: relative;
    top: 200px;
    font-family: Minion, Georgia, SimSun, serif;
    font-size: 68px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px 13px black;
    margin-bottom: 130px;

    animation: show-site-title 1s ease-out 0 1 forwards;  
    -o-animation: show-site-title 1s ease-out 0 1 forwards;
    -moz-animation: show-site-title 1s ease-out 0 1 forwards;
    -webkit-animation: show-site-title 1s ease-out 0 1 forwards;
}

#site-header a {
	text-decoration:none;
    color: #fff;
}
#site-header a:hover {
    text-shadow: 1px 1px 3px #969696;

    transition: color .25s linear, text-shadow .25s linear;
    -o-transition: color .25s linear, text-shadow .25s linear;
    -moz-transition: color .25s linear, text-shadow .25s linear;
    -webkit-transition: color .25s linear, text-shadow .25s linear;
}
#site-header p{
	font-family:QS;
	font-size:20px;
}
.box{
	border: 1px solid #696;
	padding: 30px 0;
	margin:20px 240px;
	text-align: center; 
	//width: 200px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
	/*-webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -ms-filter: blur(10px);    
      filter: blur(10px); */ 
	background:white;
	/*filter:alpha(opacity=50);  
    -moz-opacity:0.4;  
    -khtml-opacity: 0.4;  
    opacity: 0.4;  */
}
.box p{
	color:grey;
	white-space:pre-line;
	text-align:center;
	font-family:QS;
	font-size:40px;
}
.box h1{
	font-family:QS;
	text-align:center;
	font-size:60px;
	color:skyblue;
	margin: 15px 0;
}
.box h1 a:hover {
    text-shadow: 0 8px 2px rgba(0, 0, 0, 0.1),0px 10px 5px rgba(0, 0, 0, 0.2);
}
.box h1 a:link,h1 a:hover,h1 a:active,h1 a:visited{
	text-decoration:none;
	font-family:QS;
	font-size:60px;
	color:skyblue;
}
.box h2{
	margin:20px auto 40px;
	font-family:QS;
	text-align:center;
	font-size:20px;
	color:grey;
}
.box img{
	width:95%;
	border: 1px solid #696;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
    border-radius:8px; 
	-webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
	filter:alpha(opacity=50);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;
}
@-webkit-keyframes show-site-title {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% { 
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes show-description {
    0% {
        -webkit-transform: translateY(90px);
    }
    80% { 
        -webkit-transform: translateY(5px);
    }
    90% { 
        -webkit-transform: translateY(-5px);
    }
    100% { 
        -webkit-transform: translateY(0);
    }
}
/*.bg { height:100%;
      width:100%;
	  z-index:-1;
	  position:absolute;
	  left:0;
	  top:0；
}

.hover{ margin: 0 auto 25px;
	    display: block;
}*/
