#banner{
   position:fixed;
   top:0px;
   width:100%;
   background-color:#1c2123;
   height:40px;
   color:white;
   z-index:3
}
#banner>ul>li{
    list-style-type:none;
    display:inline-block;
    padding:0px 20px;

}
#banner>ul{
    padding:0px 50px;
    margin:10px;
    width:500px;
}
body{
    margin:0;
}
header{
    position:relative;
    top:40px;
    width:100%;
    height:300px;
    background-color:#0691cd;
    margin:0;
    
}
header>h1{
    font-family:'Microsoft JhengHei';
    font-size:100px;
    text-align:center;
    text-shadow:2px 2px rgba(60, 60, 60, 0.52) ;
    width: 1300px;
    position:relative;
    top:100px;
    margin:0 auto;
}
header>h2{
    position:relative;
    text-align:center;
    min-width:1200px;
    left:400px;
    top:60px;
}
#navbar{
    min-width:1100px;
    background-color:#ffc000;
    position:relative;
    top:-20px;
    height:45px;
}
#navbar>ul{
    padding:0px 50px;
}
#navbar>ul>li{
    list-style-type:none;
    text-align:center;
    display:inline-block;
    padding:11px;
    width:100px;
    margin:0;
    background-color:#ff6f03;
}
#main{
    width:1300px;
    margin:0 auto;
    background-color:#acd0ce;
    height:100%;
    min-height:1200px;

}
#content{
    float:left;
    width:70%;
}
#content>ul>li{
    list-style-type:none;
    display:block;
    margin:30px 40px 30px 10px;
    height:300px;
}
.textblock{
    background-color:#ececee;
    width:inherit;
    height:inherit;
}
.textblock>h2{
    background-color:#106c94;
    color:white;
}
#sidebar{
    float:right;
    width:27%;
    position:relative;
    top:30px;
    margin-right:20px;

}
#searchbar{
    margin-bottom:80px;
}
#searchinput{
    background-color:#de0669;
    border:none;
    color:white;
    width:85%;
    height:40px;
    float:left;
}
#searchbutton{
    float:right;
    width:41px;
    height:40px;
    position:relative;
    width:15%;
    background-color:#81003b;
    border:none;
}
#searchbutton:hover{
    background-color:#b00453;
}
#dateselect{
    padding:0;
    margin:0;
    background-color:#ececee;
}
#dateselect>li{
     list-style-type:none;
     background-color:#189fd9;
     margin-top:5px;
     margin-bottom:0px;
     height:28px;
     text-align:center;
     font-size:20px;
     padding-top:6px;
     text-shadow:1px 1px rgba(60, 60, 60, 0.52) ;
}
footer{
    background-color:#d45600;
    height:250px;
}
footer h2{
    margin:0;

}
#background{
    background-color:#ecedee;
    width:100%;
}